// --------------------------------------------------
// Global Variables
// --------------------------------------------------

// Breakpoints
// -------------------------

$small: 480px;
$middle: 767px;
$large: 1024px;
$extraLarge: 1280px;
$highDefinition: 1920px;

// Colors
// -------------------------

$white:						#fff;
$concrete:				#f0f0f0;
$Gainsborough:		#DCDCDC;
$mirage:					#2e2e2e;
$black:						#000;
$mainColor:				#fb3e38;
$Jaco:						#fe8e2f;




// content colors
 
$border:									#ffaf6a;
$borderBottom:						$Jaco;
$activeLink:							#ffc960; 
$colorHeading:						$mirage;
$colorText:								$mirage;
$colorLink:								#fa3f37;
$colorLinkHover:					$activeLink;
$colorBackgroundContent:	$white;
$colorButton:							$Jaco;


// Paths
// -------------------------

$pathTo_Fonts: "../font/";

// Font families
// -------------------------

$fontBase: Arial, Geneva, Helvetica, sans-serif;
$helveticaLight: helveticaneuecyrlight, Geneva, Helvetica, sans-serif;
$helveticaMedium: helveticaneuecyrmedium, Geneva, Helvetica, sans-serif;
$helveticaRoman: helveticaneuecyrroman, Geneva, Helvetica, sans-serif;



// Font sizes
// -------------------------

$fontSizeBase: 1.5rem;

// Line heights
// -------------------------

$lineHeightBase: 1.42;

// Borders
// -------------------------

$borderWhite: 3px solid $white;
$borderBlack: 2px solid $black;
$borderGainsborough: 1px solid $Gainsborough;



// Indents
// --------------------------------------------------

$containerIndent: 2rem;

// Container width
// --------------------------------------------------

$container: 117rem + $containerIndent * 2;
$containerSecondary: 96.8rem + $containerIndent * 2;


// Footer height
// --------------------------------------------------
$footer-height: 11.5rem;