// --------------------------------------------------
// Global Variables
// --------------------------------------------------

// Breakpoints
// -------------------------

$small: 480px;
$middle: 767px;
$large: 1024px;
$extraLarge: 1280px;
$highDefinition: 1920px;

// Colors
// -------------------------

$white:						#fff;
$concrete:				#f0f0f0;
$mirage:					#1a2631;
$black:						#000;
$border:					#ffaf6a;
$borderBottom:		#fe8e2f;
$activeLink:			#ffc960; 


// content colors
$colorHeading: $mirage;
$colorText: $white;
$colorLinkHover: $activeLink;

// Paths
// -------------------------

$pathTo_Fonts: "../font/";

// Font families
// -------------------------

$fontBase: Arial, Geneva, Helvetica, sans-serif;
$helveticaLight: helveticaneuecyrlight, Geneva, Helvetica, sans-serif;
$helveticaMedium: helveticaneuecyrmedium, Geneva, Helvetica, sans-serif;
$helveticaRoman: helveticaneuecyrroman, Geneva, Helvetica, sans-serif;



// Font sizes
// -------------------------

$fontSizeBase: 1.5rem;

// Line heights
// -------------------------

$lineHeightBase: 1.42;

// Borders
// -------------------------

$borderWhite: 3px solid $white;
$borderBlack: 2px solid $black;

// Indents
// --------------------------------------------------

$containerIndent: 0;

// Container width
// --------------------------------------------------

$container: 117rem;
$containerSecondary: 96.8rem + $containerIndent * 2;


// Footer height
// --------------------------------------------------
$footer-height: 11.5rem;