* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  background-color: #f4f4f4; }

body {
  width: 100%;
  height: 100%;
  color: #6c6c6c;
  font-family: helveticaneuecyrroman, Geneva, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.55;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 2.3px; }
  @media screen and (max-width: 1024px) {
    body {
      line-height: 1.8; } }

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden; }
  .wrapper:after {
    content: "";
    display: block;
    position: relative;
    height: 11.5rem; }

footer {
  position: relative;
  height: 11.5rem;
  margin-top: -11.5rem; }

a,
.link {
  color: #1a2631;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s linear; }
  a:hover,
  a:focus,
  .link:hover,
  .link:focus {
    color: #4f7495;
    outline: 0;
    text-decoration: none; }

img {
  vertical-align: middle;
  max-width: 100%; }

p {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a2631;
  font-family: helveticaneuecyrroman, Geneva, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  letter-spacing: 2px; }

.h2 {
  font-size: 4.5rem;
  padding-top: 4rem;
  padding-bottom: 2.5rem; }
  @media screen and (max-width: 1024px) {
    .h2 {
      font-size: 3.5rem; } }

.h3 {
  font-size: 3.8rem;
  padding: 1rem 0; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.left {
  float: left; }

.right {
  float: right; }

.cf:after {
  content: '';
  display: table;
  clear: both; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.bold {
  font-weight: bold; }

.regular {
  font-weight: normal; }

.italic {
  font-style: italic; }

.no-wrap {
  white-space: nowrap; }

.text-capital {
  text-transform: capitalize; }

.text-upper {
  text-transform: uppercase; }

.line-through {
  text-decoration: line-through; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.align-top {
  vertical-align: top; }

.align-bottom {
  vertical-align: bottom; }

.align-middle {
  vertical-align: middle; }

.block-center {
  margin: auto; }

.mt-0 {
  margin-top: 0; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mr-0 {
  margin-right: 0; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mr-4 {
  margin-right: 4rem; }

.mr-5 {
  margin-right: 5rem; }

.mb-0 {
  margin-bottom: 0; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.ml-0 {
  margin-left: 0; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.ml-4 {
  margin-left: 4rem; }

.ml-5 {
  margin-left: 5rem; }

.fit {
  max-width: 100%; }

.full-width {
  width: 100%; }

.half-width {
  width: 50%; }

.third-width {
  width: 33.333%; }

.full-height {
  height: 100%; }

.mirage {
  color: #1a2631; }

.dusty-gray {
  color: #979797; }

.bg-white {
  background-color: #fff; }

.pointer {
  cursor: pointer; }

@font-face {
  font-family: "helveticaneuecyrlight";
  src: url("../font/helveticaneuecyrlight/helveticaneuecyr-light-webfont.woff") format("woff"), url("../font/helveticaneuecyrlight/helveticaneuecyr-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "helveticaneuecyrmedium";
  src: url("../font/helveticaneuecyrmedium/helveticaneuecyr-medium-webfont.woff") format("woff"), url("../font/helveticaneuecyrmedium/helveticaneuecyr-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "helveticaneuecyrroman";
  src: url("../font/helveticaneuecyrroman/helveticaneuecyr-roman-webfont.woff") format("woff"), url("../font/helveticaneuecyrroman/helveticaneuecyr-roman-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.list {
  font-family: helveticaneuecyrroman, Geneva, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.55; }

.row {
  margin-right: 0;
  margin-left: 0; }
  .row:after, .row:before {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.S1,
.S2,
.S3,
.S4,
.S5,
.S6,
.S7,
.S8,
.S9,
.S10,
.S11,
.S12,
.M1,
.M2,
.M3,
.M4,
.M5,
.M6,
.M7,
.M8,
.M9,
.M10,
.M11,
.M12,
.L1,
.L2,
.L3,
.L4,
.L5,
.L6,
.L7,
.L8,
.L9,
.L10,
.L11,
.L12,
.XL1,
.XL2,
.XL3,
.XL4,
.XL5,
.XL6,
.XL7,
.XL8,
.XL9,
.XL10,
.XL11,
.XL12 {
  position: relative;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0; }

@media (max-width: 767px) {
  .S12 {
    clear: both; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .M12 {
    clear: both; } }

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .L12 {
    clear: both; } }

@media only screen and (min-width: 1281px) {
  .XL12 {
    clear: both; } }

.S1,
.S2,
.S3,
.S4,
.S5,
.S6,
.S7,
.S8,
.S9,
.S10,
.S11 {
  float: left; }

.S1 {
  width: 8.33333%; }

.S2 {
  width: 16.66667%; }

.S3 {
  width: 25%; }

.S4 {
  width: 33.33333%; }

.S5 {
  width: 41.66667%; }

.S6 {
  width: 50%; }

.S7 {
  width: 58.33333%; }

.S8 {
  width: 66.66667%; }

.S9 {
  width: 75%; }

.S10 {
  width: 83.33333%; }

.S11 {
  width: 91.66667%; }

.S12 {
  width: 100%; }

@media (min-width: 768px) {
  .M1,
  .M2,
  .M3,
  .M4,
  .M5,
  .M6,
  .M7,
  .M8,
  .M9,
  .M10,
  .M11 {
    float: left; }
  .M1 {
    width: 8.33333%; }
  .M2 {
    width: 16.66667%; }
  .M3 {
    width: 25%; }
  .M4 {
    width: 33.33333%; }
  .M5 {
    width: 41.66667%; }
  .M6 {
    width: 50%; }
  .M7 {
    width: 58.33333%; }
  .M8 {
    width: 66.66667%; }
  .M9 {
    width: 75%; }
  .M10 {
    width: 83.33333%; }
  .M11 {
    width: 91.66667%; }
  .M12 {
    width: 100%; }
  .MPush1 {
    left: 8.33333%; }
  .MPush2 {
    left: 16.66667%; }
  .MPush3 {
    left: 25%; }
  .MPush4 {
    left: 33.33333%; }
  .MPush5 {
    left: 41.66667%; }
  .MPush6 {
    left: 50%; }
  .MPush7 {
    left: 58.33333%; }
  .MPush8 {
    left: 66.66667%; }
  .MPush9 {
    left: 75%; }
  .MPush10 {
    left: 83.33333%; }
  .MPush11 {
    left: 91.66667%; }
  .MPull1 {
    right: 8.33333%; }
  .MPull2 {
    right: 16.66667%; }
  .MPull3 {
    right: 25%; }
  .MPull4 {
    right: 33.33333%; }
  .MPull5 {
    right: 41.66667%; }
  .MPull6 {
    right: 50%; }
  .MPull7 {
    right: 58.33333%; }
  .MPull8 {
    right: 66.66667%; }
  .MPull9 {
    right: 75%; }
  .MPull10 {
    right: 83.33333%; }
  .MPull11 {
    right: 91.66667%; }
  .MOffset1 {
    margin-left: 8.33333%; }
  .MOffset2 {
    margin-left: 16.66667%; }
  .MOffset3 {
    margin-left: 25%; }
  .MOffset4 {
    margin-left: 33.33333%; }
  .MOffset5 {
    margin-left: 41.66667%; }
  .MOffset6 {
    margin-left: 50%; }
  .MOffset7 {
    margin-left: 58.33333%; }
  .MOffset8 {
    margin-left: 66.66667%; }
  .MOffset9 {
    margin-left: 75%; }
  .MOffset10 {
    margin-left: 83.33333%; }
  .MOffset11 {
    margin-left: 91.66667%; } }

@media (min-width: 1025px) {
  .L1,
  .L2,
  .L3,
  .L4,
  .L5,
  .L6,
  .L7,
  .L8,
  .L9,
  .L10,
  .L11 {
    float: left; }
  .L1 {
    width: 8.33333%; }
  .L2 {
    width: 16.66667%; }
  .L3 {
    width: 25%; }
  .L4 {
    width: 33.33333%; }
  .L5 {
    width: 41.66667%; }
  .L6 {
    width: 50%; }
  .L7 {
    width: 58.33333%; }
  .L8 {
    width: 66.66667%; }
  .L9 {
    width: 75%; }
  .L10 {
    width: 83.33333%; }
  .L11 {
    width: 91.66667%; }
  .L12 {
    width: 100%; }
  .LPush0 {
    left: auto; }
  .LPush1 {
    left: 8.33333%; }
  .LPush2 {
    left: 16.66667%; }
  .LPush3 {
    left: 25%; }
  .LPush4 {
    left: 33.33333%; }
  .LPush5 {
    left: 41.66667%; }
  .LPush6 {
    left: 50%; }
  .LPush7 {
    left: 58.33333%; }
  .LPush8 {
    left: 66.66667%; }
  .LPush9 {
    left: 75%; }
  .LPush10 {
    left: 83.33333%; }
  .LPush11 {
    left: 91.66667%; }
  .LPull0 {
    right: auto; }
  .LPull1 {
    right: 8.33333%; }
  .LPull2 {
    right: 16.66667%; }
  .LPull3 {
    right: 25%; }
  .LPull4 {
    right: 33.33333%; }
  .LPull5 {
    right: 41.66667%; }
  .LPull6 {
    right: 50%; }
  .LPull7 {
    right: 58.33333%; }
  .LPull8 {
    right: 66.66667%; }
  .LPull9 {
    right: 75%; }
  .LPull10 {
    right: 83.33333%; }
  .LPull11 {
    right: 91.66667%; }
  .LOffset0 {
    margin-left: 0; }
  .LOffset1 {
    margin-left: 8.33333%; }
  .LOffset2 {
    margin-left: 16.66667%; }
  .LOffset3 {
    margin-left: 25%; }
  .LOffset4 {
    margin-left: 33.33333%; }
  .LOffset5 {
    margin-left: 41.66667%; }
  .LOffset6 {
    margin-left: 50%; }
  .LOffset7 {
    margin-left: 58.33333%; }
  .LOffset8 {
    margin-left: 66.66667%; }
  .LOffset9 {
    margin-left: 75%; }
  .LOffset10 {
    margin-left: 83.33333%; }
  .LOffset11 {
    margin-left: 91.66667%; } }

@media (min-width: 1281px) {
  .XL1,
  .XL2,
  .XL3,
  .XL4,
  .XL5,
  .XL6,
  .XL7,
  .XL8,
  .XL9,
  .XL10,
  .XL11 {
    float: left; }
  .XL1 {
    width: 8.33333%; }
  .XL2 {
    width: 16.66667%; }
  .XL3 {
    width: 25%; }
  .XL4 {
    width: 33.33333%; }
  .XL5 {
    width: 41.66667%; }
  .XL6 {
    width: 50%; }
  .XL7 {
    width: 58.33333%; }
  .XL8 {
    width: 66.66667%; }
  .XL9 {
    width: 75%; }
  .XL10 {
    width: 83.33333%; }
  .XL11 {
    width: 91.66667%; }
  .XL12 {
    width: 100%; }
  .XLPush0 {
    left: auto; }
  .XLPush1 {
    left: 8.33333%; }
  .XLPush2 {
    left: 16.66667%; }
  .XLPush3 {
    left: 25%; }
  .XLPush4 {
    left: 33.33333%; }
  .XLPush5 {
    left: 41.66667%; }
  .XLPush6 {
    left: 50%; }
  .XLPush7 {
    left: 58.33333%; }
  .XLPush8 {
    left: 66.66667%; }
  .XLPush9 {
    left: 75%; }
  .XLPush10 {
    left: 83.33333%; }
  .XLPush11 {
    left: 91.66667%; }
  .XLPull0 {
    right: auto; }
  .XLPull1 {
    right: 8.33333%; }
  .XLPull2 {
    right: 16.66667%; }
  .XLPull3 {
    right: 25%; }
  .XLPull4 {
    right: 33.33333%; }
  .XLPull5 {
    right: 41.66667%; }
  .XLPull6 {
    right: 50%; }
  .XLPull7 {
    right: 58.33333%; }
  .XLPull8 {
    right: 66.66667%; }
  .XLPull9 {
    right: 75%; }
  .XLPull10 {
    right: 83.33333%; }
  .XLPull11 {
    right: 91.66667%; }
  .XLOffset0 {
    margin-left: 0; }
  .XLOffset1 {
    margin-left: 8.33333%; }
  .XLOffset2 {
    margin-left: 16.66667%; }
  .XLOffset3 {
    margin-left: 25%; }
  .XLOffset4 {
    margin-left: 33.33333%; }
  .XLOffset5 {
    margin-left: 41.66667%; }
  .XLOffset6 {
    margin-left: 50%; }
  .XLOffset7 {
    margin-left: 58.33333%; }
  .XLOffset8 {
    margin-left: 66.66667%; }
  .XLOffset9 {
    margin-left: 75%; }
  .XLOffset10 {
    margin-left: 83.33333%; }
  .XLOffset11 {
    margin-left: 91.66667%; } }

.gutter-25 {
  margin-right: -1%;
  margin-left: -1%; }
  .gutter-25 > div {
    padding-right: 1%;
    padding-left: 1%; }

.gutter-180 {
  margin-right: -11.5%;
  margin-left: -11.5%; }
  .gutter-180 > div {
    padding-right: 11.5%;
    padding-left: 11.5%; }

.container {
  margin: auto;
  max-width: 117rem; }
  @media screen and (min-width: 480px) {
    .container {
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (max-width: 480px) {
    .container {
      padding-left: 0;
      padding-right: 0; } }

.container-secondary {
  margin: auto;
  max-width: 96.8rem; }
  @media screen and (min-width: 480px) {
    .container-secondary {
      padding-left: 0;
      padding-right: 0; } }
  @media screen and (max-width: 480px) {
    .container-secondary {
      padding-left: 0;
      padding-right: 0; } }

.header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,fb3e38+0,ff8f30+100 */
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(left, #1e5799 0%, #fb3e38 0%, #ff8f30 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1e5799 0%, #fb3e38 0%, #ff8f30 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1e5799 0%, #fb3e38 0%, #ff8f30 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ff8f30',GradientType=1 );
  /* IE6-9 */ }

.footer .container {
  padding-top: 35px;
  text-align: center;
  font-size: 13px; }

.footer__address {
  margin-bottom: 15px;
  color: #2e2e2e; }
