// --------------------------------------------------
// Main Style
// --------------------------------------------------

// required
@import "core/core";

// Redefinition
// --------------------------------------------------

.header {
	background: #fb3e38; /* Old browsers */
	background: -moz-linear-gradient(left, #fb3e38 17%, #fb3e38 17%, #ff8f30 85%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fb3e38 17%,#fb3e38 17%,#ff8f30 85%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fb3e38 17%,#fb3e38 17%,#ff8f30 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb3e38', endColorstr='#ff8f30',GradientType=1 ); /* IE6-9 */
	margin-bottom: 1.4rem;
}

.header__top {
	padding-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgba($borderBottom, .8);
}

.logo {
	display: block;

	@include maxScreen($small) {
		text-align: center;
	}
	@include maxScreen($large) {
		margin-bottom: 1rem;
	}
}

.logo__pic {
	max-width: 100%;
}

.header__search-wrapper{
	@extend .cf;
	margin-bottom: 1rem;
}

.mobile-mnu {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 20%;


	a {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		display: block;
	}
}


// header menu
// --------------------------------------------------
.menu__item {
	display: inline-block;

	@include maxScreen($small) {
		text-align: center;
		display: block;
	}
}

.header__menu {
	text-align: justify;
	font-size: 0;

	&:after {
		display: inline-block;
		content: "";
		width: 100%;
		height: 0;
	}
}

.menu__link {
	display: block;
	padding: 0.6rem;
}

.menu__link-iconed {
	position: relative;
	padding-right: 2rem;
	padding-left: 5rem;
	border: 2px solid $border;
	border-radius: 50px;


	@include maxScreen($small) {
		width: 50%;
		left: 25%;
	}
}

.menu__link-text {
	font-size: 1.3rem;
}

.menu__link-icon {
	position: absolute;
	left: 1.3rem;
	top: 0;
	bottom: 0;
	width: 3rem;
}

.menu__link-icon-pic {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	display: block;
}


// Header nav
// --------------------------------------------------

.nav {
	padding: 2.3rem 0;
}


.nav__list {
	text-align: justify;
	font-size: 0;

	&:after {
		content: "";
		width: 100%;
		height: 0;
		display: inline-block;
	}
}

.nav__item {
	display: inline-block;
}

.nav__item-icon, .nav__item-title {
	display: inline-block;
	vertical-align: middle;
}

.nav__item-title {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #fff;
	margin-left: 1.5rem;
	transition: color .2s linear;
}

.nav__item_link {
	display: block;
	text-decoration: none;

	&:hover {
		.nav__item-title {
			color: $colorLinkHover;
		}

		.nav__item-icon svg * {
			fill: $colorLinkHover !important;
		}
	}
}

.nav__item-icon {
	height: 3rem;

	svg {
		height: 100% !important;

		* {
			fill: #fff !important;
			transition: fill .2s linear;
		}
	}
}

// Breadcrumbs
// --------------------------------------------------
.breadcrumbs {
	margin-bottom: 10px;
}

.breadcrumbs__list {
	line-height: 1.6rem;
}

.breadcrumbs__item {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.6rem;

	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		background-image: url('../../Content/img/decor/arrow.png');
		width: 1.7rem;
		height: 0.7rem;
		margin: 0 1rem;
	}

	&:first-child {
		&:before {
			display: none;
		}
	}
}

.breadcrumbs__link {
	font-size: 1.1rem;
	color: $colorLink;

	&:hover {
		text-decoration: underline;
		color: $colorLink;
	}
}

// Title
// --------------------------------------------------

.section-title {
	margin-bottom: 2.5rem;
}

.title {
	font-size: 2.4rem;
}

// Categories
// --------------------------------------------------

.categories__item {
	border-bottom: $borderGainsborough;
}

.categories__link {
	display: block;
	padding: 2.1rem 2.6rem;
	position: relative;
	padding-right: 5rem;
}

.categoris__title {
	width: 100%;
	@include clearfix;
	font-size: 0; //important, because are not displaced inline-block
}

.categories__icon {
	display: inline-block;
	width: 10%;
	vertical-align: middle;
	text-align: center;
}

.categories__text {
	color: $colorText;
	display: inline-block;
	vertical-align: middle;
	width: 90%;
	padding-left: 2rem;
	font-size: 1.5rem;
}

.categories__amount {
	position: absolute;
	right: 1.7rem;
	font-size: 1.4rem;
	line-height: 1.6rem;
	top: 50%;
	margin-top: -0.8rem;
	color: rgba($colorText, .5);
}


.categories__icon-pic {
	max-width: 100%;
	max-height: 100%;
}


// Content
// --------------------------------------------------

.products__item {
	@include clearfix;
	position: relative;
	border-top: $borderGainsborough;

	&:first-child {
		border-top: none;
	}
}

.products__item-slideshow {
	padding: 2rem;
	float: left;
	width: 30%;
}

.slideshow__display {
	height: 25rem;
	position: relative;
}

.slideshow__display-img {
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 95%; //important, because img may be different sizes
	max-height: 95%; //important, because img may be different sizes
	position: absolute;
}

.slideshow__thumbs {
	@include clearfix;
}

.slideshow__thumbs-item {
	float: left;
	width: 25%;
}

.slideshow__thumbs-link {
	display: block;
	position: relative;
	height: 50px;
}

.slideshow__thumbs-img {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 95%;
	max-height: 95%;
}

.products__title {
	font-size: 2.8rem;
	font-weight: normal;
	margin-bottom: 2rem;
	font-family: $helveticaLight;
}

.products__options {
	font-size: 1.4rem;

	li {
		line-height: 2.2rem;
		margin-bottom: 0.8rem;
	}
}


.products__item-desc {
	float: left;
	width: 45%;
	padding: 2.5rem;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: 0.1rem;
		background: #e7e7e7;
		left: 30%;
	}
}

.products__item-buy {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 25%;
	font-family: $helveticaMedium;
}

.products__buy-inner {
	position: absolute;
	top: 2rem;
	left: 2rem;
	bottom: 2rem;
	right: 2rem;
	border: $borderGainsborough;
	padding: 2rem;
}

.products__price {
	font-size: 2.4rem;
}

.products__buy-link {
	@extend .btn;
}

.content {
	border-left: $borderGainsborough;
}

// Pagination
// --------------------------------------------------

.pagination {
	text-align: center;
	padding: 3.5rem 0;
}

.pagination__control, .paginaton__list {
	display: inline-block;
	vertical-align: middle;
}

.pagination__control {
	color: $arrow;
}

.paginaton__list {
	color: $colorText;
	margin: 0 1rem;
}

.pagination__item {
	display: inline-block;
	vertical-align: middle;

	&:first-child {
		margin-left: 0;
		font-size: 1.6rem;
		text-decoration: none;
	}
}

.pagination__link {
	font-size: 1.6rem;
	color: $black;
	text-decoration: none;
	width: 3rem;
	text-align: center;
	display: block;

	&:hover {
		color: $activeLink;
	}
}

// Footer
// --------------------------------------------------

.footer {
	.container {
		padding-top: 3.5rem;
		text-align: center;
		font-size: 1.3rem;
	}
}

.footer__address, .footer__copyright {
	margin-bottom: 1.5rem;
	color: $colorText;
}

.footer__address {
	margin-bottom: 1.5rem;
}
