// --------------------------------------------------
// Main Style
// --------------------------------------------------

// required
@import "core/core";

// Redefinition
// --------------------------------------------------

.header{
background: #fb3e38; /* Old browsers */
background: -moz-linear-gradient(left, #fb3e38 17%, #fb3e38 17%, #ff8f30 85%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #fb3e38 17%,#fb3e38 17%,#ff8f30 85%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #fb3e38 17%,#fb3e38 17%,#ff8f30 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb3e38', endColorstr='#ff8f30',GradientType=1 ); /* IE6-9 */
margin-bottom: 2rem;
}

.header__top{
	padding-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid rgba($borderBottom, .8);
}

.logo{
	display: block;
}

.logo__pic{
	max-width: 100%;
}


// header menu
// --------------------------------------------------
.menu__item {
	display: inline-block;
}

.header__menu {
	text-align: justify;
	font-size: 0;

	&:after {
		display: inline-block;
		content: "";
		width: 100%;
		height: 0;
	}
}

.menu__link{
	display: block;
	padding: 0.6rem;
}

.menu__link-iconed{
	position: relative;
	padding-right: 2rem;
	padding-left: 5rem;
	border: 2px solid $border;
	border-radius: 50px;
}

.menu__link-text{
	font-size: 1.3rem;
}

.menu__link-icon{
	position: absolute;
	left: 1.3rem;
	top: 0;
	bottom: 0;
	width: 3rem;
}

.menu__link-icon-pic{
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	display: block;
}


// Header nav
// --------------------------------------------------

.nav {
	padding: 2.3rem 0;
}

.nav__list{
	text-align: justify;
	font-size: 0;

	&:after{
		content: "";
		width: 100%;
		height: 0;
		display: inline-block;
	}
}

.nav__item{
	display: inline-block;
}

.nav__item-icon, .nav__item-title {
	display: inline-block;
	vertical-align: middle;
}

.nav__item-title {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #fff;
	margin-left: 1.5rem;
	transition: color .2s linear;
}

.nav__item_link {
	display: block;
	text-decoration: none;

	&:hover {
		.nav__item-title {
			color: $colorLinkHover;
		}

		.nav__item-icon svg * {
			fill : $colorLinkHover !important;
		}

	}
}

.nav__item-icon {
	height: 3rem;

	svg {
		height: 100% !important;

		* {
			fill: #fff !important;
			transition: fill .2s linear;
		}
	}
}

// Breadcrumbs
// --------------------------------------------------

.breadcrumbs__item{
	display: inline-block;
	vertical-align: middle;

	&:before{
		content: "";
		display: inline-block;
		vertical-align: middle;
		background-image: url('../../Content/img/decor/arrow.png');
		width: 1.7rem;
		height: 0.7rem;
		margin: 0 1rem;
	}

	&:first-child{
		&:before{
			display: none;
		}
	}
}

.breadcrumbs__link{
	font-size: 1.1rem;
	color: $colorLink;

	&:hover{
		text-decoration: underline;
		color: $colorLink;
	}
}



// Footer
// --------------------------------------------------

.footer {
	.container {
		padding-top: 3.5rem;
		text-align: center;
		font-size: 1.3rem;
	}
}

.footer__address, .footer__copyright {
	margin-bottom: 1.5rem;
	color: #2e2e2e;
}

.footer__address{
	margin-bottom: 1.5rem;
}
