// --------------------------------------------------
// Main Style
// --------------------------------------------------

// required
@import "core/core";

// Redefinition
// --------------------------------------------------

.header{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,fb3e38+0,ff8f30+100 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left,  #1e5799 0%, #fb3e38 0%, #ff8f30 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #1e5799 0%,#fb3e38 0%,#ff8f30 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #1e5799 0%,#fb3e38 0%,#ff8f30 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ff8f30',GradientType=1 ); /* IE6-9 */

}


// Content
// --------------------------------------------------

.footer {
	.container {
		padding-top: 35px;
		text-align: center;
		font-size: 13px;
	}
}

.footer__address {
	margin-bottom: 15px;
	color: #2e2e2e;
}
